.container {
  width: 100%;
}

#content {
  padding-top: 63px;
}

.nav-button {
  display: inline-block;
  text-align: center;
  width: 10%;
  background-color: #f8f8f8;
}

#nav-img {
  float: left;
}

.highlight {
  border-bottom: 3px solid;
}

#navbar {
  position: fixed;
  background-color: #f8f8f8;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  z-index: 1;
}

#footer {
  background-image: url("images/footer.png");
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#nav-footer {
  position: absolute;
  top: 355px;
}

.ft-button {
  display: inline-block;
  text-align: center;
  width: auto;
  background-color: #ff7253;
  color: whitesmoke;
}

#first-section{
  background: linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45)
    ),
    url("images/charles.jpg");
  background-size: cover;
  min-height: 1200px;
  color: white;
  padding: 20px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#icon {
  height: 60px;
  width: 60px;
}

#icon-container {
  display: flex;
  align-items: center;
}

#icon-liner {
  text-align: left;
  font-size: 16pt;
}

#about {
text-align: left;
font-size: 40pt;
}

#content-header {
text-align: center;
font-size: 40pt;
}

#second-section {
  background: linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(126, 126, 126, 0.45)
    ),
    url("images/dna.gif");
  background-size: cover;
  background-position: 0% 70%;
  min-height: 300px;
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#portrait {
  height: 140px;
  width: 110px;
}

#project-container {
  border-style: solid;
  border-color: black;
}

#subteam{
  position: relative;
  text-align: center;
  color: white;
}

#subteam-image {
  height: 200px;
  width: 160px;
}

.subteam-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#third-section {
  padding-top: 30px;
}