.nav-button {
  display: inline-block;
  text-align: center;
  width: 10%;
  background-color: #f8f8f8;
}

#nav-img {
  float: left;
}

.highlight {
  border-bottom: 3px solid;
}

#navbar {
  background-color: #f8f8f8;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%
}

#footer {
  background-image: url("images/footer.png");
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ft-button {
  display: inline-block;
  text-align: center;
  width: 20%;
  background-color: #f8f8f8;
}

#first-section{
  border-style: solid;
  border-color: black;
  background-color: #5384ff;
  color: white;
  padding: 20px 20px;
}

#icon {
  height: 60px;
  width: 60px;
}

#icon-container {
  display: flex;
  align-items: center;
}

#icon-liner {
  text-align: left;
  font-size: 16pt;
}

#about {
text-align: left;
font-size: 40pt;
}

#content-header {
text-align: center;
font-size: 40pt;
}

#second-section {
  background-color: #ff7253;
  color: white;
  padding: 20px 20px;
}

#portrait {
  height: 100px;
  width: 60px;
}

#team-member {
  text-align: center;
}