.nav-button {
  display: inline-block;
  text-align: center;
  width: 10%;
  background-color: #f8f8f8;
}

#nav-img {
  float: left;
}

.highlight {
  border-bottom: 3px solid;
}

#navbar {
  background-color: #f8f8f8;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%
}


#first-section{
  border-style: solid;
}

#icon {
  height: 60px;
  width: 60px;
}

#icon-container {
  display: flex;
  align-items: center;
}

#icon-liner {
  text-align: left;
  font-size: 16pt;
}

#about {
text-align: left;
font-size: 40pt;
}

#who {
text-align: center;
font-size: 40pt;
}

#projects {
  text-align: center;
  font-size: 40pt;
}

#second-section {
  background-color: #d63e69;
  color: white;
  padding: 20px 20px;
}